.nav-column {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #64CCC5;
    color: #fff;
    padding: 10px;
    border: 1px white solid;
    position:relative;
    overflow-y: hidden;
    top: 10vh;
}

table {
    width: 100%;
}

td {
    text-align: center;
    padding: 10px;
    border-left: 1px white solid;
}

td:hover {
    opacity: 0.5;
    text-decoration: underline black;
    transition-duration: .3s;
}

td:last-child:hover {
    opacity: 1;
    /* text-decoration: underline black; */
    /* transition-duration: .3s; */
}

td:first-child {
    border-left: none;
}


a {
    text-decoration: none;
    color: #ffffff;
}


@media (max-width: 768px) {
    .nav-column{
        top:15vh;
    }
}